<div class="hero-wrap js-fullheight" style="background-image: url(<%= url_for '/assets/bg_1.jpg' %>); height: 1051px;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true" style="height: 1051px;">
      <div class="col-md-7 ftco-animate fadeInUp ftco-animated">
        <span class="subheading">Welcome to StudyLab</span>
        <h1 class="mb-4">We Are Online Platform For Make Learn</h1>
        <p class="caps">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
        <p class="mb-0"><a href="#" class="btn btn-primary">Our Course</a> <a href="#" class="btn btn-white">Learn More</a></p>
    </div>
</div>
</div>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
<section class="ftco-section ftco-no-pb ftco-no-pt">
   <div class="container">
      <div class="row">
         <div class="col-md-7"></div>
         <div class="col-md-5 order-md-last">
          <div class="login-wrap p-4 p-md-5">
              <h3 class="mb-4">Register Now</h3>
              <form action="#" class="signup-form">
                 <div class="form-group">
                     <%= f.input :email,
                                required: true,
                                autofocus: true,
                                class: "form-control",
                                placeholder: "Email",
                                input_html: { autocomplete: "email" }%>
                </div>
                 <div class="form-group">
                  <%= f.input :password,
                              required: true,
                              class: "form-control",
                              placeholder: "Password",
                              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                              input_html: { autocomplete: "new-password" } %>
             </div>
             <div class="form-group">
               <%= f.input :password_confirmation,
                           required: true,
                           class: "form-control",
                           placeholder: "Password Confirmation",
                           input_html: { autocomplete: "new-password" } %>
             </div>
             <div class="form-group">
               <label for="exampleInputRole" class="form-label">Are you a student or teacher?</label>
               <%= f.collection_select :role_ids, Role.where.not(name: "admin"), :id, :name, {promt: "Choose a category" }, { class: "form-control password required" } %>
             </div>
             <div class="form-group d-flex justify-content-end mt-4">
                 <button type="submit" class="btn btn-primary submit"><span class="fa fa-paper-plane"></span></button>
             </div>
         </form>
         <p class="text-center">Already have an account? <a href="<%= user_session_path %>">Sign In</a></p>
     </div>
 </div>
</div>
</div>
</section>
<% end %>
