<main class="container">
	<div class="h1 text-center" id="pageHeaderTitle"> </div>

 	<article class="postcard blue">
		<a class="postcard__img_link" href="/courses/<%= course.id %>">
			<img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
		</a>
		<div class="postcard__text">
			<h1 class="postcard__title blue text-light"><a href="/courses/<%= course.id %>"><%= course.title %></a></h1>
			<div class="postcard__subtitle small">
				<time datetime="2020-05-25 12:00:00">
					<i class="fas fa-calendar-alt mr-2"></i><%= course.created_at %>
				</time>
			</div>
			<div class="postcard__bar"></div>
			<div class="postcard__preview-txt"><%= course.description %></div>
			<ul class="postcard__tagbox">
				<li class="tag__item"><i class="fas fa-tag mr-2"></i><%= course.level %></li>
				<li class="tag__item"><i class="fas fa-clock mr-2"></i><%= course.lang %></li>
				<li class="tag__item play blue">
					<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
				</li>
			</ul>
		</div>
	</article>
 </main>
